<body>

  <!-- Header logOut button section start here -->
  <section id="header-section">
      <div class="row" id="header-row">
          <div class="col" id="header-col-1">
              <p>Pending Approval</p>
          </div>
          <div class="col" id="header-col-2">
              <i class="fa fa-bars" aria-hidden="true"></i>
          </div>
      </div>
  </section>

  <!-- hero section start here -->
  <section id="hero-section">
      <div class="row" id="hero-row">
          <div class="col">
              <img src="/assets/hour-glass.png" alt="">
          </div>
      </div>
  </section>

<!--  main heading section start here -->
  <section id="main-heading-section">
      <div class="row" id="main-heading-row">
          <div class="col">
              <h2>we're evaluating your porfile</h2>
          </div>
      </div>
  </section>
</body>
