<body>
  <section id="main-Section">

      <section> <!--header-section start-->
          <div class="row" id="header-row">
              <div class="col" id="first-icon-col">
                  <i class="fa fa-arrow-left" aria-hidden="true"></i>
              </div>
              <div class="col" id="second-icon-col">
                  <!-- Three dots html start here -->
                  <!-- <button class="btn"><i class="fa fa-plus" aria-hidden="true"></i></button> -->
              </div>
          </div>
          <!-- </div> -->
      </section> <!--header-section end-->


      <section id="hero"> <!-- Hero-Section start-->
          <div class="row" id="hero-row">
              <div class="col" id="hero-heading">
                  <h1>Branches</h1>
                  <h5><span>Currently 40+</span><span>Active Branches</span></h5>

              </div>
              <div class="col" id="hero-img-col">
                  <img src="/assets/school-building.png" alt="">
              </div>
          </div>
      </section> <!--Hero-Section end-->

      <section id="sortby-sec-parent"> <!--------Main Section start here--------->
          <section id="sortby-main"> <!---------Sort-by section start --------->
              <div class="row" id="sortby-sec-row">
                  <div class="col" id="dropdown-btn">
                      <div class="btn-group">
                          <button class="btn" type="button" data-bs-toggle="offcanvas"
                              data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          </button>
                          <!-- offcanvas start-->
                          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
                              aria-labelledby="offcanvasExampleLabel">
                              <div class="offcanvas-header" >
                                  <div class="row" id="sortby-offcanva-top-row" >
                                      <div class="col" id="sortby-offcanva-top-col-1">
                                          <!-- <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5> -->
                                      </div>
                                      <div class="col" id="sortby-offcanva-top-col-2">
                                          <button type="button" class="btn-close text-reset"
                                              data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                      </div>
                                  </div>
                              </div>
                              <div class="offcanvas-body">
                                  <section id="input-feild-section">
                                      <!-- hero section -->
                                  <div class="row" id="offcanvas-hero-row">
                                      <div class="col" id="offcanvas-hero-col">
                                          <h2>Add New Class</h2>
                                      </div>
                                  </div>

                                  <!-- main inputs section -->
                                  <div class="row" id="offcanvas-main-row">
                                    <form [formGroup]="addbranchForm" (ngSubmit)="addBranch()">
                                      <div class="col" id="offcanvas-main-col-1">
                                        <label>Class-Name <input type="text" formControlName="className" /></label>
                                    </div>
                                    <div class="col" id="offcanvas-main-col-2">
                                        <label><input type="text" formControlName="classTime"/>Class-Time </label>
                                    </div>
                                    <div class="col" id="offcanvas-main-col-3">
                                        <button id="btn" class="btn">Add Class</button>
                                    </div>
                                    </form>
                                  </div>
                                  </section>
                              </div>
                          </div>
                          <!-- offcanva end  -->
                      </div>
                  </div>
                  <div class="col" id="search-col">
                      <a><i class="fa" [ngClass]="{'fa-search': !showSearch, 'fa-times': showSearch}" aria-hidden="true" (click)="toggleSearch()"></i></a>
                      <input *ngIf="showSearch" placeholder="Search">
                  </div>
              </div>
          </section> <!--------Sort-by section start ---------->

          <section> <!--------Main Section branch-list start here--------->
              <div class="row" id="main-sec-row">
                  <a href="" *ngFor="let item of branch">
                      <div class="col-12" id="main-sec-box1">
                          <div class="row">
                              <div class="col-9" id="branch-name-col">
                                  <h3>{{item.branchName}}</h3>
                                  <p> Robert Robertson, 1234 NW Bobcat Lane, St. Robert.</p>
                              </div>

                              <div class="col-3" id="branch-icon-col">
                                  <i class="fa-solid fa-trash"></i>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
          </section> <!--------Main Section branch-list ends here--------->
      </section> <!------Main section end here--------->


      <section id="pagination-sec">

      </section>

  </section>




</body>
