@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/solid.css";
@import "~@fortawesome/fontawesome-free/css/regular.css";
@import "~@fortawesome/fontawesome-free/css/brands.css";

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  background-image: linear-gradient(to right, #ffee90, #fbf4cd);
  height: 100vh;
}

:root {
  --main-family: "Rubik", sans-serif;
  --background-color: #d0efc4;
}
#main-section {
  position: relative;
  background-color: #175000;
}
#header-row {
  position: absolute;
  max-width: 103%;
  height: auto;
  top: 9px;
  right: 15px;
  left: 3px;
}
#first-icon-col {
  position: relative;
  left: 10px;
  font-size: 20px;
  display: grid;
  align-items: center;
  color: #586a47;
}
#second-icon-col {
  position: relative;
  left: 0px;
  height: 43px;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#dot-col {
  position: relative;
  top: 4px;
  text-align: end;
}

/* three dots styling start here */
.dot {
  height: 6px;
  width: 6px;
  background-color: #586a47;
  border-radius: 50%;
  display: inline-block;
  text-align: right;
}

/* Hero section start here */
#hero {
  position: relative;
  top: 61px;
  max-width: 100%;
  height: 18vh;
  font-family: var(--main-family);
}
#hero-row {
  position: relative;
  max-width: 103%;
  height: 18vh;
  top: 0;
}
#hero-heading {
  display: grid;
  justify-content: start;
  height: 18vh;
  position: relative;
  left: 10px;
  align-content: center;
  color: #ac8d5a;
}
#hero-heading h5 {
  display: grid;
  color: #586a47;
  font-size: 17px;
  font-weight: 400;
}
#hero-img-col {
  display: grid;
  justify-content: center;
  align-content: center;
}
#hero-img-col img {
  width: 40vw;
  position: relative;
  left: 9px;
  top: 0;
  bottom: 26px;
  background-size: cover;
  transform: rotate(360deg);
}

/* Sort-by section start here */
#sortby-sec-parent {
  position: absolute;
  top: 27vh;
  width: 100%;
  left: 0px;
  background-color: #ffffff;
  height: 74vh;
  border-radius: 32px 32px 0 0;
}
#sortby-main {
  height: 10vh;
  display: flex;
  align-items: center;
}
#sortby-sec-row {
  width: 103%;
  font-family: var(--main-family);
}
.btn-group {
  position: absolute;
  top: 26px;
  right: 304px;
  left: 10px;
  bottom: 566px;
}
#dropdown-btn button {
  color: #ffffff;
  background-color: #74c955;
  font-size: 13px;
}
#search-col {
  display: grid;
  align-items: center;
  text-align: end;
  font-style: inherit;
  color: #586a47;
  position: relative;
  left: -12px;
}
/* ------------------------ */
#main-sec-row {
  position: absolute;
  top: -160px;
  left: 17px;
  width: 92vw;
  height: 65vh;
  max-width: 100%;
  text-align: center;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
}
#main-sec-row a {
  text-decoration: none;
  color: #586a47;
}
#main-sec-box1 {
  max-width: 89vw;
  background-image: linear-gradient(to right, #cce4c4, #e3fbd9);
  border-radius: 5px;
  font-family: var(--main-family);
  height: 10vh;
  display: grid;
  align-items: center;
  text-align: left;
  margin-top: 19px;
}
#branch-name-col {
  display: grid;
  position: relative;
  left: 6px;
}
#branch-name-col h3 {
  font-size: 18px;
}
#branch-name-col p {
  font-size: 11px;
}
#branch-icon-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-sec-box2 {
  width: 100vw;
  background-image: linear-gradient(to right, #cce4c4, #e3fbd9);
  border-radius: 5px;
  font-family: var(--main-family);
  height: 10vh;
  display: grid;
  align-items: center;
  text-align: left;
  /* padding-top: 9px; */
  margin-top: 19px;
}
#main-sec-box3 {
  width: 100vw;
  background-image: linear-gradient(to right, #cce4c4, #e3fbd9);
  border-radius: 5px;
  font-family: var(--main-family);
  height: 10vh;
  display: grid;
  align-items: center;
  text-align: left;
  /* padding-top: 9px; */
  margin-top: 19px;
}
#main-sec-box4 {
  width: 100vw;
  background-image: linear-gradient(to right, #cce4c4, #e3fbd9);
  border-radius: 5px;
  font-family: var(--main-family);
  height: 10vh;
  display: grid;
  align-items: center;
  text-align: left;
  /* padding-top: 9px; */
  margin-top: 19px;
}
