<body>
  <section id="main-Section">

      <section> <!--header-section start-->
          <div class="row" id="header-row">
              <div class="col" id="first-icon-col">
                  <i class="fa fa-arrow-left" aria-hidden="true"></i>
              </div>
              <div class="col" id="second-icon-col">
                      <!-- Three dots html start here -->
                     <span class="dot" style="margin:0px;"></span>
                     <span class="dot" style="margin:3px;"></span>
                     <span class="dot"></span>
                   </div>
              </div>
          <!-- </div> -->
      </section> <!--header-section end-->


      <section id="hero"> <!-- Hero-Section start-->
          <div class="row" id="hero-row">
              <div class="col" id="hero-heading">
                  <h1>Branches</h1>
                  <h5><span>Currently 40+</span><span>Active Branches</span></h5>

              </div>
              <div class="col" id="hero-img-col">
                  <img src="/assets/school-building.png" alt="">
              </div>
          </div>
      </section> <!--Hero-Section end-->

      <section id="sortby-sec-parent">    <!--------Main Section start here--------->
          <section id="sortby-main">      <!---------Sort-by section start --------->
              <div class="row" id="sortby-sec-row">
                  <div class="col" id="dropdown-btn">
                      <div class="btn-group">
                          <button class="btn dropdown-toggle" id="triggerId" data-toggle="dropdown-menu"
                              aria-haspopup="true" aria-expanded="false">
                              Sort by
                          </button>
                          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
                              <a class="dropdown-item">Size</a>
                              <a class="dropdown-item">Name</a>
                              <a class="dropdown-item">Type</a>
                          </div>
                      </div>
                  </div>
                  <div class="col" id="search-col">
                      <a><i class="fa fa-search" aria-hidden="true"></i></a>
                  </div>
              </div>
          </section>      <!--------Sort-by section start ---------->

          <section>     <!--------Main Section branch-list start here--------->
              <div class="row" id="main-sec-row">
                  <a href="">
                      <div class="col-12" id="main-sec-box1">
                          <div class="row">
                              <div class="col-9" id="branch-name-col">
                                  <h3>Branch A</h3>
                                  <p> Robert Robertson, 1234 NW Bobcat Lane, St. Robert.</p>
                              </div>

                              <div class="col-3" id="branch-icon-col">
                                  <i class="fa-solid fa-trash"></i>
                              </div>
                          </div>
                      </div>
                  </a>

              </div>
          </section>  <!--------Main Section branch-list ends here--------->
      </section>      <!------Main section end here--------->


      <section id="pagination-sec">

      </section>

  </section>
</body>
