<body>
  <div class="container" >
      <!-- header start here -->
      <div class="container" id="head-container">
          <div class="row">
              <div class="col-8">
                  <h1>My Dashboard</h1>
              </div>
              <div class="col-4" id="logout">
                <i class="fa-solid fa-right-from-bracket"></i>
              </div>
          </div>
      </div>
      <!-- header end  -->
      <!-- <div class="container" id="main-container"> -->
          <div class="row" id="main-row">
              <div class="col" id="parent-col-1">
                  <div class="row" id="main-child-row">
                      <!-- first box html here -->
                      <div class="col" id="main-child-col-1" style="height: 27vh">
                          <div class="row" id="inner-child-row">
                              <div class="col" id="inner-child-col">

                                  <div class="row" id="first-img-row">
                                      <div class="col-6" id="first-img-col">
                                      </div>
                                      <div class="col-6" id="dot-col">
                                          <!-- Three dots html start here -->
                                          <span class="dot"></span>
                                          <span class="dot"></span>
                                          <span class="dot"></span>
                                      </div>
                                  </div>
                              </div>
                              <!-- Three dots html start here -->

                              <div class="col" id="inner-child-col" style="height: 18vh">
                                  <div class="row">
                                      <!-- student inner information start here -->
                                      <div class="col" id="student-info">
                                          <!-- <span>Currently open</span> -->
                                          <h1>210+</h1>
                                          <span>Branches</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="col" id="inner-child-col">

                                  <a href="#" style="color: #dac974" id="view-more"><i (click)="toBranchesList()" class="fa fa-arrow-right"
                                          aria-hidden="true"></i></a>
                              </div>
                              <!-- student inner information ends here -->
                          </div>
                      </div>
                      <div class="col" id="main-child-col-2" style="height: 27vh">
                          <div class="row" id="inner-child-row">
                              <div class="col" id="inner-child-col">
                                  <div class="row" id="first-img-row">
                                      <div class="col-6" id="first-img-col">
                                          <img src="/Admin/images/teacher.png" alt="" srcset="">
                                      </div>
                                      <div class="col-6" id="dot-col">
                                          <!-- Three dots html start here -->
                                          <span class="dot"></span>
                                          <span class="dot"></span>
                                          <span class="dot"></span>
                                      </div>
                                  </div>
                              </div>
                              <!-- Three dots html ends here -->

                              <div class="col" id="inner-child-col" style="height: 18vh">
                                  <div class="row">
                                      <!-- student inner information start here -->
                                      <div class="col" id="student-info" style="color: #4cac4c;">
                                          <h1>50+</h1>
                                          <span>teachers</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="col" id="inner-child-col">

                                  <a href="#" style="color: #7AC256" id="view-more"><i class="fa fa-arrow-right"
                                          aria-hidden="true"></i></a>
                              </div>
                              <!-- student inner information start here -->
                          </div>
                      </div>
                      <div class="col" id="main-child-col-3" style="height: 10vh">
                          <div class="row" style="height: 10vh">
                              <!-- PO-student start here -->
                              <div class="col" id="PO-student">
                                  <div class="row" style="color: #EDCBA1">
                                      <div class="col-9" id="task-board-heading" style="color: #4cac4c;">
                                          <h6>Dean's <br> Task Baord</h6>
                                      </div>
                                      <div class="col-3" id="task-board-icon">
                                          <i class="fa fa-chevron-right"></i>
                                      </div>
                                  </div>
                              </div>
                              <!-- PO-student information start here -->
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col" id="parent-col-2">
                  <div class="row" id="main-child-row">
                      <div class="col" id="main-child-col-4" style="height: 10vh">
                          <div class="row" style="height: 10vh">
                              <div class="col" id="project">
                                  <div class="row" style="color: #EDCBA1">
                                      <div class="col-9" id="task-board-heading" style="color: #915151;">
                                          <h6>Role Management</h6>
                                      </div>
                                      <div class="col-3" id="task-board-icon">
                                         <a (click)="toRoleManagmnent()" style="text-decoration: none;"><i class="fa fa-chevron-right"></i></a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col" id="main-child-col-5" style="height: 27vh">
                          <div class="row" id="inner-child-row">
                              <!-- Three dots html start here -->
                              <div class="col" id="inner-child-col">
                                  <div class="row" id="first-img-row">
                                      <div class="col-6" id="first-img-col">
                                          <img src="/Admin/images/headmaster.png" alt="" srcset="">
                                      </div>
                                      <div class="col-6" id="dot-col">
                                          <!-- Three dots html start here -->
                                          <span class="dot"></span>
                                          <span class="dot"></span>
                                          <span class="dot"></span>
                                      </div>
                                  </div>
                              </div>
                              <!-- Three dots html start here -->
                              <div class="col" id="inner-child-col" style="height: 18vh">
                                  <!-- student inner information start here -->
                                  <div class="row">
                                      <div class="col" id="student-info" style="color: #915151;">
                                          <h1>2+</h1>
                                          <span>Supervisor</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="col" id="inner-child-col">

                                  <a href="#" style="color: #cdaa8c" id="view-more"><i class="fa fa-arrow-right"
                                          aria-hidden="true"></i></a>
                              </div>
                              <!-- three dots html end here -->
                          </div>
                      </div>
                      <div class="col" id="main-child-col-6" style="height: 27vh">
                          <div class="row" id="inner-child-row">
                              <!-- Three dots html start here -->
                              <div class="col" id="inner-child-col">
                                  <div class="row" id="first-img-row">
                                      <div class="col-6" id="first-img-col">
                                          <img src="/Admin/images/boy.png" alt="" srcset="">
                                      </div>
                                      <div class="col-6" id="dot-col">
                                          <!-- Three dots html start here -->
                                          <span class="dot"></span>
                                          <span class="dot" style="padding-left: 5px;"></span>
                                          <span class="dot" style="padding-left: 5px;"></span>
                                      </div>
                                  </div>
                              </div>
                              <!-- Three dots html start here -->
                              <div class="col" id="inner-child-col" style="height: 18vh">
                                  <!-- student inner information start here -->
                                  <div class="row">
                                      <div class="col" id="student-info" style="color: #8a7f75">
                                          <h1>31+</h1>
                                          <span>Students</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="col" id="inner-child-col">

                                  <a href="#" style="color: #969b9c" id="view-more"><i class="fa fa-arrow-right"
                                          aria-hidden="true"></i></a>

                              </div>
                              <!-- three dots html end here -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      <!-- </div> -->
      <!-- =================================================== -->
      <div id="footer-parent-section">
          <div class="row" id="footer-row">
              <div class="col-6" id="footer-btn">
                  <button class="btn"><i class="fa fa-user"></i><span> Profile</span></button>
              </div>
              <div class="col-2" id="footer-icons">
                  <i class="fa fa-home" aria-hidden="true"></i>
              </div>
              <div class="col-2" id="footer-icons">
                  <i class="fas fa-person-booth    "></i>
              </div>
              <div class="col-2" id="footer-icons">
                  <i class="fa fa-bell" aria-hidden="true"></i>
              </div>
          </div>
      </div>




</div>
</body>
